---
import MasterLayout from './Main.astro'

import GitHub from '~/components/icons/GitHub.astro'
import LinkedIn from '~/components/icons/LinkedIn.astro'
import Twitter from '~/components/icons/Twitter.astro'

const navLinks = Object.entries({
  '/about': 'About',
})
---

<MasterLayout class="w-full min-h-screen h-full flex flex-col bg-gray-900 text-white">
  <Fragment slot="meta">
    <slot name="meta" />
  </Fragment>

  <header class="w-full px-4">
    <nav class="max-w-3xl container flex items-center justify-between py-2 mx-auto">
      <a href="/blog" class="block hocus:text-orange-300 text-2xl font-semibold hocus:underline"> JorgeGlz </a>

      <ul class="flex items-center space-x-4">
        {
          navLinks.map(([href, content]) => (
            <li>
              <a
                href={href}
                class:list={[
                  {
                    'text-orange-300': Astro.url.pathname === href,
                    'hocus:text-orange-300 hocus:underline': Astro.url.pathname !== href,
                  },
                ]}
              >
                {content}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </header>

  <div class="flex-grow px-4 py-4 md:mx-auto">
    <slot />
  </div>

  <div class="w-full px-4">
    <footer class="max-w-3xl container flex items-center justify-between mx-auto">
      <div class="font-bold my-4">&copy; 2019 - 2024</div>

      <ul class="flex items-center space-x-4 sm:space-x-8">
        <li>
          <a
            href="https://github.com/iksaku"
            target="_blank"
            rel="nofollow noopener noreferrer"
            aria-label="Jorge's Github Profile"
          >
            <GitHub class="w-8 h-8" />
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/jorge-glz"
            target="_blank"
            rel="nofollow noopener noreferrer"
            aria-label="Jorge's LinkedIn Profile"
          >
            <LinkedIn class="w-8 h-8" />
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/iksaku2"
            target="_blank"
            rel="nofollow noopener noreferrer"
            aria-label="Jorge's Twitter Profile"
          >
            <Twitter class="w-8 h-8" />
          </a>
        </li>
      </ul>
    </footer>
  </div>
</MasterLayout>
